// scss-lint:disable ImportantRule
.bd-masthead {
  position: relative;
  margin-top: 3.4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
  color: #efefef;
  text-align: center;
  background-color: $bd-blue;
  background: linear-gradient(135deg, $bd-blue,$bd-blue-light);

  h1 {
    font-weight: 300;
    line-height: 1;
  }

  .lead {
    margin-right: auto;
    margin-bottom: 2rem;
    margin-left: auto;
    width: 80%;
    font-size: 2rem;
    color: #fff;
  }

  .version {
    margin-top: -1rem;
    margin-bottom: 2rem;
  }

  .btn {
    min-width: 150px;
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    &:hover {
      color: $bd-blue-light;
      background-color: #fff;
      border-color: #fff;
    }
  }

  @include media-breakpoint-up(sm) {
    padding-bottom: 2rem;

    .btn {
      width: auto;
    }

  }

  @include media-breakpoint-up(md) {
    padding-bottom: 4rem;

    .bd-header {
      margin-bottom: 4rem;
    }

    h1 {
      font-size: 4rem;
    }

    .lead {
      font-size: 1.5rem;
    }

  }

  @include media-breakpoint-up(lg) {
    .lead {
      width: 85%;
      font-size: 2rem;
    }
  }
}
